.selectContainer {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.select {
  border: none;
  border-radius: 4px;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  font-size: 1rem;
  font-family: sans-serif;
  color: #444444;
  background-color: #f8f8f8;
  cursor: pointer;
  transition: background-color 0.2s;
  width: 15rem;

  &:hover {
    background-color: #d99182; /* Use a darker hover color */
    color: #ffffff; /* Use white text color when hovered */
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 0 2px #d99182;
  }

  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32' width='12' height='12' fill='%238664e3'%3E%3Cpath d='M4 8l12 12 12-12'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: calc(100% - 0.5rem) center;
  padding-right: 1.5rem;
}
